.rooms {
  background-color: var(--bg-color);
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.rooms-list {
  flex: 1;
  overflow-y: scroll;
  position: relative;
}
.rooms-list::-webkit-scrollbar {
  display: none;
}

.filter-box {
  margin: 10px;
  width: calc(100% - 20px);
  height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #F2F3F3;
  border: 0px;
  font-size: 14px;
  line-height: 20px;
  outline: none;
  color: #333;
}
.filter-box::placeholder {
  color: #999;
}