.roomPage {
    width: 100%;
    height: 100%;
}

.chat_widget_room_page {
    width: 100%;
    height: 100%;
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.28);
    display: flex;
    flex-direction: column;
}