/* more menu */
.chat_widget-menu {
	display: flex;
	flex-shrink: 0;
}

.chat_widget-menu-btn {
	width: 40px;
	height: 40px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #E7EAF3;
	cursor: pointer;
}

.chat_widget-menu-btn-active {
	background: var(--primary-color);
}

.chat_widget_title_setBox {
	position: absolute;
	z-index: 10;
	right: 10px;
	top: 63px;
	width: 125px;
	background: var(--dropMenu-bg-color);
	box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.3);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

.chat_widget_title_setBox_item {
	display: flex;
	align-items: center;
	width: 100%;
	height: 32px;
	font-size: 14px;
	color: var(--main-text-color);
	cursor: pointer;
}
.chat_widget_title_setBox_item:hover {
	background: var(--dropMenu-item-hover-color);
}

.chat_widget_title_setBox_item img {
	width: 20px;
	margin: 0 10px;
}