.invite_page {
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* title */
.invite_page_title {
    width: 100%;
    height: 50px;
    background: #fff;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.invite_page_title .title_back {    
    width: 41px;
    height: 100%;
    padding-left: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.invite_page_title .title_text {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: var(--main-text-color);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

/* search */
.invite_page-search {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    position: relative;
    z-index: 0;
}
.invite_page-search .filter-box {
    width: calc(100% - 32px);
    height: 36px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 20px;
    outline: none;
    color: #000;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.invite_page-search .filter-box::placeholder {
    color: #999;
    padding-left: 25px;
}
.invite_page-search .rooms-search-icon {
    width: 14px;
    position: absolute;
    z-index: 1;
    top: 23px;
    left: 30px;
}

/* list */
.invite_page .list-wrap {
    width: 100%;
    height: calc(100% - 178px);
    overflow-y: scroll;
    box-sizing: border-box;
    padding-top: 7px;
}

/* members-item */
.members_item {
    width: 100%;
    height: 42px;
    padding: 0 12px;
    margin-bottom: 24px;
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
}
.members_item .members_item_avatar {
    width: 42px;
    height: 42px;
    border-radius: 6px;
    margin-right: 12px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}
.members_item .members_item_desc {
    height: 100%;
    width: calc(100% - 88px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.members_item .members_item_desc .members_item_desc_name {
    width: 100%;
    height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #333;
    color: var(--main-text-color);
}
.members_item .members_item_desc .members_item_desc_addr {
    width: 100%;
    height: 17px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: Poppins;
    font-size: 12px;
    line-height: 17px;
    color: #999;
}
.members_item .members_item_select {
    width: 24px;
    height: 100%;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.members_item .members_item_select img {
    width: 20px;
    height: auto;
}

/* select-btns */
.invite_page .select-box {
    width: 100%;
    height: 68px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    box-sizing: border-box;

}
.invite_page .select-box-btn {
    width: 100%;
    height: 44px;
    background: var(--primary-color);
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}
.invite_page .select-box-btn_disable {
    background-color: #D8D8D8;
}
.invite_page .select-box-btn span {
    padding-right: 4px;
}

/* leave dialog */
.invite_page .invite_page_dialog {
    width: 100%;
    height: calc(100% + 60px);
    position: absolute;
    z-index: 100;
    top: -60px;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}
.invite_page .invite_page_dialog .invite_page_dialog_content{
    position: absolute;
    left: calc(50% - 138px);
    top: calc(50% - 70px);
    width: 268px;
    height: 148px;
    background: #303336;
    border-radius: 14px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .4);
    display: flex;
    flex-direction: column;
}
.invite_page_dialog_content .info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.invite_page_dialog_content .info-desc {
    width: 186px;
    margin-top: 5px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-align: center;
}
.invite_page_dialog_loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #8a8a8a;
}
.invite_page_dialog_loading img {
    width: 40px;
    height: 40px;
}

.invite_page_dialog_content .btns {
    width: 100%;
    height: 44px;
    border-top: 1px solid rgba(84, 84, 88, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    color: #4D94FF;
}
