.pinned_msg_card {
  position: absolute;
  top: 63px;
  left: 0;
  z-index: 50;
  width: calc(100% - 4px);
  height: 44px;
  margin: 0 2px;
  border-radius: 6px;
  background: #BFBFBF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pinned_msg_card_left {
  width: 2px;
  height: 34px;
  background-color: rgba(56,202,159,.7);
  margin: 0 10px 0 10px;
  display: flex;
  flex-shrink: 0;
}

.pinned_msg_card_center {
  width: calc(100% - 160px);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.pinned_msg_card_center_user {
  font-size: 12px;
  color: #666;
  max-width: 260px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pinned_msg_card_center_text {
  margin-top: 2px;
  font-size: 13px;
  color: #333;
  max-width: 260px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pinned_msg_card_right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 44px;
}

.pinned_msg_card_right span {
  font-size: 16px;
  color: rgba(56,202,159,.7);
}